* {
    box-sizing: border-box;
}

body{
    margin: 0;
}

a{
    text-decoration: none;
}

.main_hero{
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    z-index: 11;
}

.main_hero .overflow{
    overflow: hidden;
}

.about-us{
    color: white;
    position: absolute;
    width: 929px;
    height: 309px;
    left: 327px;
    top: 307px;
    font-family: sans-serif;
}

.about-us span{
    font-size: 80px;
    font-weight: 400;
    line-height: 80px;
}

.about-us p{
    font-size: 30px;
    font-weight: 500;
    line-height: 39px;
    margin-top: 30px;
}

.bold{
    font-family:'Millik';
}

.arrow{
    width: 32px;
    height: 40px;
    position: absolute;
    top: 766px;
    left: 50%;
    transform: translate(-50%);
}